<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>회원 가입 - 제주도랑</title>
</head>
<th layout:fragment="content">
    <form id="sign-up-form" th:action th:method="post" th:object="${signUpRequest}">
        <label for="externalId" class="form-label">externalId</label>
        <input type="text" id="externalId" name="externalId" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="nickname" class="form-label">nickname</label>
        <input type="text" id="nickname" name="nickname" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="email" class="form-label">email</label>
        <input type="email" id="email" name="email" class="form-control" aria-describedby="passwordHelpBlock">
        <button type="button" class="btn btn-outline-secondary" onclick="sendMail()">인증번호 전송</button>

        <div id="email-verify-container" style="display: none;">
            <label for="email-verify" class="form-label disabled">이메일 인증번호 확인</label>
            <input type="text" id="email-verify" name="code" class="form-control disabled" aria-describedby="passwordHelpBlock">
            <button type="button" class="btn btn-outline-secondary" onclick="checkMail()">인증번호 확인</button>
        </div>

        <input class="form-check-input" type="checkbox" name="agreement" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            agreement
        </label>
        <br>

        <label for="password" class="form-label">password</label>
        <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="passwordForCheck" class="form-label">passwordForCheck</label>
        <input type="password" id="passwordForCheck" name="passwordForCheck" class="form-control" aria-describedby="passwordHelpBlock">

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <script>

        function sendMail() {
            var mailSendRequest = {
                email: document.getElementById("email").value
            };

            if (mailSendRequest.email == null
                    || mailSendRequest.email.trim() === "") {
                alert("이메일을 입력해주세요.");

            } else {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/user/signup/verify", true);
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            alert("이메일 인증 번호 전송이 완료되었습니다. 전송된 인증 번호를 입력해주세요.");
                            document.getElementById("email-verify-container").style.display = "block";
                        } else {
                            alert(xhr.responseText);
                        }
                    }
                };

                xhr.send(JSON.stringify(mailSendRequest));
            }
        }

        // function checkMail() {
        //     var mailVerifyRequest = {
        //         email: document.getElementById("email").value,
        //         code: document.getElementById("email-verify").value
        //     };
        //
        //     console.log(mai)
        //
        //     if (mailVerifyRequest.email == null
        //         || mailVerifyRequest.email.trim() === "") {
        //         alert("이메일을 입력해주세요.");
        //
        //     } else if (mailVerifyRequest.code == null
        //         || mailVerifyRequest.code.trim() === "") {
        //         alert("인증 번호를 입력해주세요.")
        //
        //     } else {
        //         var xhr = new XMLHttpRequest();
        //         xhr.open("GET", "/user/signup/verify", true);
        //         xhr.setRequestHeader("Content-Type", "application/json");
        //
        //         xhr.onreadystatechange = function() {
        //             if (xhr.readyState === 4) {
        //                 if (xhr.status === 200) {
        //                     alert("이메일 인증 번호 전송이 완료되었습니다. 전송된 인증 번호를 입력해주세요.");
        //                     document.getElementById("email-verify-container").style.display = "block";
        //
        //                 } else {
        //                     alert(xhr.responseText);
        //                 }
        //             }
        //         };
        //
        //         xhr.send(JSON.stringify(mailVerifyRequest));
        //     }
        // }

    </script>

</th>
</html>