<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>회원 가입 - 제주도랑</title>
</head>
<th layout:fragment="content">
    <form id="sign-up-form" th:action th:method="post" th:object="${signUpRequest}">
        <label for="externalId" class="form-label">externalId</label>
        <input type="text" id="externalId" name="externalId" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="nickname" class="form-label">nickname</label>
        <input type="text" id="nickname" name="nickname" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="email" class="form-label">email</label>
        <input type="email" id="email" name="email" class="form-control" aria-describedby="passwordHelpBlock">

        <input class="form-check-input" type="checkbox" name="agreement" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            agreement
        </label>
        <br>

        <label for="password" class="form-label">password</label>
        <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpBlock">

        <label for="passwordForCheck" class="form-label">passwordForCheck</label>
        <input type="password" id="passwordForCheck" name="passwordForCheck" class="form-control" aria-describedby="passwordHelpBlock">

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>


</th>
</html>