<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{/fragments/layout}">

<head>
    <!-- 카카오톡 공유  -->
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js"
            integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        Kakao.init([[${kakaoApiKey}]]); // 사용하려는 앱의 JavaScript 키 입력
        // 카카오톡 공유 텍스트 설정 - 글 제목
        let nowPostTitleForShare = [[${post.title}]];
    </script>
    <script th:src="@{/js/community/deleteCommunity.js}"></script>
    <title>상세 페이지 - 제주도랑 | 커뮤니티</title>
    <link rel="stylesheet" href="../../static/css/community/communityDetail.css">
</head>
<th layout:fragment="content">

    <div class="board-whole-content-box">
        <!-- 헤더: 제목, 작성자(닉네임), 작성/수정날짜, 조회수   -->
        <div class="board-post-info">
            <div class="board-header">
                <h1 th:text="${post.title}" id="board-post-title"></h1>
            </div>
            <div class="board-sub-header">
                <div class="board-sub-title">
                    <h6 class="sub-title-box user-name">
                        <a href="#" th:if="${post.nickname != null}" th:text="${post.nickname}">닉네임</a>
                        <a href="#" th:if="${post.nickname == null}">탈퇴한 회원</a>
                    </h6>
                    <div class="sub-title-box content-date">
                        <span class="sub-title sub-title-created-at">
                            <span class="sub-title-title">작성일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.createdAt, 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-updated-at">
                            <span class="sub-title-title">수정일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.updatedAt, 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-view-count">
                            <span class="sub-title-title">조회수</span>
                            <span class="sub-title-value" th:text="${post.viewCount}">00</span>
                        </span>
                        <span class="sub-title sub-title-view-count">
                            <span class="sub-title-title">북마크수</span>
                            <span class="sub-title-value" th:text="${post.bookmarkCount}">00</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="board-post-content">
            <!--   글 내용   -->
            <div class="board-content-body" id="viewer" th:utext="${post.content}"> viewer </div>

            <div class="board-content-sub-body">
                <ul class="sub-body-tags">
                    <li class="sub-body-tag" th:each="tag : ${post.tags}" th:text="${tag}">태그</li>
                </ul>
            </div>

            <!--    버튼    -->
            <div class="board-post-features">
                <!-- 모집상태 -->
                <div th:if="${post.type.name()} == 'PARTY'" class="board-post-feature board-state">
                    <div th:if="${post.writerId == #authentication.name}">
                        <button th:if="${post.state.name()} == 'RECRUITING'" class="feature-row board-state-btn"
                                th:onclick="'changeJoinState(' + ${post.id} + ')'">모집중</button>
                        <button th:if="${post.state.name()} == 'DONE'" class="feature-row board-state-btn"
                                th:onclick="'changeJoinState(' + ${post.id} + ')'">모집완료</button>
                    </div>

                    <div th:if="${post.writerId != #authentication.name || !#authentication.isAuthenticated()}">
                        <button th:if="${post.state.name()} == 'RECRUITING'" class="feature-row board-state-btn" disabled>모집중</button>
                        <button th:if="${post.state.name()} == 'DONE'" class="feature-row board-state-btn" disabled>모집완료</button>
                    </div>
                </div>

                <div class="board-post-feature board-liked">

                    <!--        북마크: 로그인/비로그인 분리           -->
                    <button class="feature-row board-liked-btn"
                            sec:authorize="!isAuthenticated()"
                            th:onclick="cantBookmark()">북마크</button>

                    <!--        로그인: 북마크 여부로 분리            -->
                    <button class="feature-row board-liked-btn"
                            sec:authorize="isAuthenticated()"
                            th:if="${post.isBookmarked()}"
                            th:onclick="'deleteBookmark('+${post.id}+')'">북마크</button>
                    <button class="feature-row board-liked-btn"
                            sec:authorize="isAuthenticated()"
                            th:if="${!post.isBookmarked()}"
                            th:onclick="'createBookmark('+${post.id}+')'">북마크</button>

                </div>
                <div class="board-post-feature board-share">
                    <button class="feature-row board-share-btn"
                    th:onclick="openSnsModal()">공유</button>
                </div>
                <div class="board-post-feature board-modify">
                    <button class="feature-row board-modify-btn"
                    th:if="${post.writerId == #authentication.name}"
                    th:onclick="|location.href='@{/community/post/{communityId}/modify(communityId=${post.id})}'|">수정</button>
                </div>
                <div class="board-post-feature board-back-to-list">
                    <button class="feature-row board-share-btn" th:onclick="|window.history.back()|">목록</button>
                </div>

                <!-- 삭제 버튼: 작성자일 경우에만 노출 -->
                <div sec:authorize="isAuthenticated()"
                     th:if="${#authentication.getName() == post.writerId()}"
                     class="board-post-feature board-back-to-list" style="margin-left:5%">
                    <button class="feature-row board-share-btn"
                            th:onclick="deletePost([[${post.type.name()}]], [[${post.id}]], 'detail')">삭제</button>
                </div>
            </div>

        </div>

    </div>


    <!--  댓글  -->
    <div class="cmt-area"
    style="width: 100%; height:100%; margin: 5% 0; padding: 2% 5%; background: #f8f9fa; display: flex; flex-direction: column; justify-content: center">

        <div class="cmt-area-header"
        style="width: 100%; height:160px; display: flex; flex-direction: column; justify-content: flex-end">

            <h3 style="width:100%; margin-right:auto">
                댓글 <span th:text="${post.commentCount()}" style="color: #FB7A51">999</span>
            </h3>

            <!-- 댓글 작성 -->
            <form class="cmt-new-box" id="cmt-new-form" method="post" th:object="${commentRequest}" action="/community/comments"
            style="width: 100%; height:50px; margin-bottom:1%; display: flex; justify-content: space-between">

                <input name="content" style="width: 82%">
                <input name="post" th:value="${post.id()}" type="hidden">
                <input name="type" th:value="${post.type()}" type="hidden">
                <button type="submit" class="btn btn-warning cmt-new-btn" style="width:15%">등록</button>
            </form>
        </div>

        <div class="cmt-area-body"
        style="width: 100%; display: flex; flex-direction: column;">

            <div class="cmt-card" th:each="cmt : ${post.comments()}"
            style="width: 100%; height:160px; display: flex; flex-direction: column; margin: 1% 0; border-bottom:1px solid #656565;
                    gap:10px;">

                <div class="cmt-card-header"
                     style="width: 100%; height:60px; display: flex; flex-direction: row">

                    <!-- 댓글 작성자 -->
                    <div class="cmt-card-header-profile"
                    style="min-width: 30%; max-width:50%; display: flex; flex-direction: row; gap:15px;">

                        <!-- 프로필 사진 -->
                        <div class="cmt-writer-img-circle"
                             style="width:60px; height:60px; border-radius: 50%; overflow: hidden; border: 1px solid rgba(208,208,208,0.86);">

                            <img th:if="${cmt.pic() != null}" th:src="${cmt.pic()}"
                                 style="width: 100%; height: 100%; object-fit: cover; object-position: center;">>
                        </div>

                        <!-- 닉네임 -->
                        <div class="cmt-writer-nickname"
                        style="min-width: 100px; max-width: 60%; display:flex; align-items:flex-end;">

                            <h5 th:if="${cmt.writerId() != null}" th:text="${cmt.nickname()}">닉네임</h5>
                            <h5 th:if="${cmt.writerId() == null}">탈퇴한 회원</h5>
                        </div>

                        <!-- 작성일 -->
                        <div class="cmt-write-date"
                        style="width: 120px; display:flex; align-items:flex-end; color:#696969">

                            <h6 th:text="${#temporals.format(cmt.createdAt(), 'yy.MM.dd HH:mm')}">0000.00.00 MM:DD</h6>
                        </div>
                    </div>

                    <!-- 대댓글 폼 열기 버튼 -->
                    <div class="re-cmt-box" style="width:80px; display: flex; flex-direction: row; align-items: flex-end">
                        <button id="re-cmt-btn" style="width:95%; height:60%;">답글 달기</button>
                    </div>

                    <!-- 수정/삭제 버튼: 댓글 작성자일 경우에만 노출 -->
                    <div class="cmt-card-header-btns"
                         sec:authorize="isAuthenticated()"
                         th:if="${cmt.writerId() != null && #authentication.getName() == cmt.writerId()}"
                        style="width:150px; margin-left:auto; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end">

                        <button type="button" class="btn btn-outline-secondary cmt-modify-btn" th:onclick="'openCmtModifyInput('+ ${cmt.cmtId()} + ')'"
                                style="width:45%; height:60%;">수정</button>
                        <button type="button" class="btn btn-secondary cmt-delete-btn" style="width:45%; height:60%;" th:onclick="'deleteCmtRequest(' + ${cmt.cmtId()} + ')'">삭제</button>
                    </div>
                </div>

                <!-- 댓글 내용 -->
                <div class="cmt-card-body"
                style="width:100%; min-height:70px; max-height:100px; padding:  1.5% 6.5%; background: white">

                    <p style="font-size: 18px" th:text="${cmt.content()}" th:id="'cmt-content-origin-' + ${cmt.cmtId()}">댓글</p>

                    <div th:id="'cmt-modify-block-' + ${cmt.cmtId()}"  style="display: none; width: 100%; flex-direction: row; justify-content: space-between">
                        <input th:id="'cmt-modify-input-' + ${cmt.cmtId()}" th:value="${cmt.content()}" style="width: 88%; border: none">
                        <button style="width: 5%;" th:onclick="'modifyCmtRequest(' + ${cmt.cmtId()} + ')'">등록</button>
                        <button style="width:5%" th:onclick="'closeCmtModifyInput(' + ${cmt.cmtId()} + ')'">취소</button>
                    </div>

                    <!-- 대댓글 폼 -->
                    <div class="re-cmt-form-box">
                        <form method="post" th:object="${reCommentRequest}" th:action="@{/community/comments/re(type=${post.type()})}">
                            <input name="content">
                            <input type="hidden" name="postId" th:value="${post.id()}">
                            <input type="hidden" name="cmtId" th:value="${cmt.cmtId()}">
                            <button type="submit" id="re-cmt-request-btn">리댓등록</button>
                        </form>
                    </div>

                </div>



            </div>


        </div>



    </div>


    <!--  모달   -->
    <div class="modal-sns-share-box hidden-modal" id="modal-sns-share-box">
        <div class="modal-sns-header">
            <h4 class="modal-sns-title">글 공유하기</h4>
            <button class="modal-sns-share-btn close-share-btn" th:onclick="openSnsModal()">X</button>
        </div>
        <div class="modal-sns-btns-box">
            <div class="modal-sns-share-btn-kakao kakao-share-btn">
                <a id="kakaotalk-sharing-btn" href="javascript:;">
                    <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                         alt="카카오톡 공유 보내기 버튼" />
                </a>
            </div>

            <div class="modal-sns-share-btn etc-btns">
                <button class="etc-btn facebook-share-button" th:onclick="shareFacebook()">
                    페이스북으로 공유
                </button>
                <button class="etc-btn twitter-share-button" th:onclick="shareTwitter()">
                    트위터로 공유
                </button>
                <button class="etc-btn copy-share-button" th:onclick="shareCopiedLink()">
                    링크 복사
                </button>
            </div>
        </div>
    </div>


    <script>

        /*
        * 모집글 - 모집 상태 변경
        *
        * */
        function changeJoinState(communityId) {
            let xhr = new XMLHttpRequest();
            xhr.open('PUT', '/community/parties/' + communityId + '/state', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("모집 상태 변경 완료");
                        window.location.href = '/community/boards/parties/' + communityId;

                    } else {
                        alert("모집 상태 변경 실패");
                    }
                }
            };
            xhr.send();
        }


        /*
        * 북마크
        *
        * */
        // 로그인 하지 않은 경우
        function cantBookmark() {
            alert("북마크하려면 로그인이 필요합니다.");
        }
        // 로그인한 경우 - 북마크 하지 않은 글
        function createBookmark(communityId) {
            alert('create');

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/bookmarks/communities/' + communityId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert(xhr.responseText);
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
        // 로그인한 경우 - 북마크 한 글
        function deleteBookmark(communityId) {
            alert('delete');

            let xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/bookmarks/communities/' + communityId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert(xhr.responseText);
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }

        function openSnsModal() {
            let selectedModal = document.querySelector('#modal-sns-share-box');
            if (selectedModal.classList.contains("hidden-modal")) {
                selectedModal.classList.remove("hidden-modal");
                selectedModal.classList.add("show-modal");
            } else {
                selectedModal.classList.remove("show-modal");
                selectedModal.classList.add("hidden-modal");
            }
        }


        // 카카오공유 버튼
        Kakao.Share.createDefaultButton({
            container: '#kakaotalk-sharing-btn',
            objectType: 'text',
            text:
                nowPostTitleForShare,
            link: {
                // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
                mobileWebUrl: document.URL,
                webUrl: document.URL
            },
        });
        function shareTwitter() {
            const twitterIntent = 'https://twitter.com/intent/tweet?url=' + document.URL;
            window.open(twitterIntent, '_blank');
        }
        function shareFacebook() {
            const facebookIntent = 'http://www.facebook.com/sharer/sharer.php?u=' + document.URL;
            window.open(facebookIntent, '_blank');
        }


        // 링크 복사
        function shareCopiedLink() {
            const url = window.location.href; // 현재 URL

            const copiedLink = async () => { // 비동기 함수: URL을 클립보드에 쓰기 위해 기다리는 Promise를 반환
                await navigator.clipboard.writeText(url);
            };

            copiedLink().then(() => { // Promise 성공적인 반환 후 실행
                alert("링크 복사 완료");
            }).catch((error) => {
                console.error('복사 실패:', error);
            });
        }


        /*
        * 댓글 수정 폼 열기
        *
        * */
        function openCmtModifyInput(cmtId) {
            document.getElementById('cmt-content-origin-' + cmtId).style.display = 'none';
            document.getElementById('cmt-modify-block-' + cmtId).style.display = 'flex';
        }
        // 닫기
        function closeCmtModifyInput(cmtId) {
            document.getElementById('cmt-content-origin-' + cmtId).style.display = 'flex';
            document.getElementById('cmt-modify-block-' + cmtId).style.display = 'none';
        }

        /*
        * 댓글 수정 요청
        *
        * */
        function modifyCmtRequest(cmtId) {
            var commentRequestWithId = {
                cmtId: cmtId,
                content: document.getElementById('cmt-modify-input-' + cmtId).value
            }

            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/community/comments", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("댓글 수정이 완료되었습니다.");
                        window.location.reload();

                    } else {
                        alert(xhr.responseText);
                    }
                }
            }
            xhr.send(JSON.stringify(commentRequestWithId));
        }

        /*
        * 댓글 삭제 요청
        *
        * */
        function deleteCmtRequest(cmtId) {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "/community/comments?cmtId=" + cmtId, true);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("댓글 삭제가 완료되었습니다.");
                        window.location.reload();

                    } else {
                        alert(xhr.responseText);
                    }
                }
            }
            xhr.send();
        }


    </script>
</th>
</html>