<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/community/communityPostForm.css}">
<link th:href="@{/css/bootstrap.min.css}"
      href="../css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/js/bootstrap.js}"
      href="../js/bootstrap.js" rel="js">
<head>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <!--  tagify  -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>

    <title>글 작성 - 제주도랑 | 커뮤니티</title>
    <style>
        #contents {
            width:50%;
            height: 100px;
            margin: 30px auto;
            border: 1px solid;
        }
    </style>
</head>

    <div class="board-write-form-whole-box">
        <form id="board-write-form" th:action method="post" th:object="${communityWriteRequest}">

            <div class="board-write-form-top">
                <div>
                    <ul class="nav nav-tabs" style="margin-bottom: 25px" id="menuTabs">
                        <li class="nav-item">
                            <a th:if="${type=='chat'}" class="nav-link active" aria-current="page" th:href="@{/community/post/new(type='chat')}"
                               href="#" style="font-size:22px">커뮤니티</a>
                            <a th:if="${type!='chat'}" class="nav-link" aria-current="page" th:href="@{/community/post/new(type='chat')}"
                               href="#" style="font-size:22px">커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${type=='party'}" class="nav-link active" th:href="@{/community/post/new(type='party')}"
                               href="#" style="font-size:22px">동행모집</a>
                            <a th:if="${type!='party'}" class="nav-link" th:href="@{/community/post/new(type='party')}"
                               href="#" style="font-size:22px">동행모집</a>
                        </li>
                    </ul>
                    <input type="text" id="community-dto-type" name="type" value="" style="display: none">
                </div>
                <div class="board-form-input-box">
                    <input type="text" class="board-title" id="board-form-title" name="title" placeholder="제목을 입력하세요">
                    <input type="text" class="board-tags" id="board-form-tags" name="tags" placeholder="태그를 입력해보세요">
                </div>
            </div>

            <!-- TOAST UI Editor -->
            <div id="content"></div>
            <input type="hidden" id="board-form-content" name="content" value="">

            <div class="board-write-form-bottom">
                <button th:if="${type=='party'}" type="button" class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius: 10px"
                        th:onclick="|location.href='@{/community/boards/parties}'|">취소</button>
                <button th:if="${type=='chat'}" type="button" class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius: 10px"
                        th:onclick="|location.href='@{/community/boards/chats}'|">취소</button>

                <button type="button" class="btn btn-primary"
                        onclick="submitForm()"
                        style="width:150px; height:50px; border-radius: 10px">등록</button>
            </div>

        </form>
    </div>


    <!-- TUI 에디터 JS CDN -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#content'),
            height: '750px',
            initialEditType: 'wysiwyg',
            initialValue: '',
            previewStyle: 'vertical',
            placeholder: '내용을 입력해 주세요',
            hooks: {
                async addImageBlobHook(blob, callback) {
                    try {
                        const formData = new FormData();
                        formData.append('image', blob);

                        if(formData.get("image").size > 3000000) {
                            Swal.fire({
                                position: 'middle',
                                icon: 'error',
                                title: '',
                                text: "파일 크기는 3MB를 초과할 수 없습니다.",
                                showConfirmButton: true
                            });
                            return;
                        }

                        const response = await fetch('/tui-editor/img-upload', {
                            method: 'POST',
                            body: formData,
                        });

                        const imageUrl = await response.text(); // public String uploadEditorImage()
                        console.log('서버에 저장된 파일의 url : ', imageUrl);

                        // 이미지 삽입 콜백 호출
                        callback(imageUrl, 'imgUrl');

                    } catch (error) {
                        console.error('업로드 실패 : ', error);
                    }
                }
            }
        });

        // 폼 데이터 전달
        function submitForm() {
            let formContent = editor.getHTML();

            // 공백 기본값 <p><br></p> 제거 후 공백 확인
            formContent = formContent.replace(/<p><br><\/p>/gi, '').trim();
            document.getElementById("board-form-content").setAttribute("value", formContent);

            // 글 타입 전달
            let nowType = "[[${type}]]";
            if (typeof nowType !== 'undefined') {
                document.getElementById("community-dto-type").value = nowType;
            } else {
                console.log("nowType is not defined");
            }

            var form = document.getElementById('board-write-form');
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/community/post/new", true);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        window.location.href = "/community/boards/"+xhr.responseText;

                    } else {
                        alert(xhr.responseText);
                    }
                }
            }

            xhr.send(formData);
        }

        // tagify
        var input = document.querySelector('#board-form-tags')
        var tagify = new Tagify(input, { // tagify 라이브러리를 사용해 #board-form-tags 초기화
            dropdown: { // dropdown 속성 -> 드롭다운 비활성화
                enabled: 0
            },
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
            texts: {
                duplicate: "Duplicates are not allowed"
            },
        })


    </script>




</html>
