<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <!--  tagify  -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>

    <title>모임 - 제주도랑 | 커뮤니티</title>
</head>

<th layout:fragment="content">

    <div class="board-whole-box">
        <div class="board-item board-tab">
            <ul class="nav flex-column">
                <li class="nav-item" style="font-size: 20px;">
                    <a class="nav-link active" aria-current="page" href="#" style="color: #696969;"
                       th:href="@{/community/boards/parties(state='all')}">모임</a>
                </li>
                <li class="nav-item" style="font-size: 20px;">
                    <a class="nav-link" href="#" style="color: #696969;"
                       th:href="@{/community/boards/chats}">잡담</a>
                </li>
            </ul>
        </div>

        <div class="board-item board-main">

            <!-- 모임: 전체/모집중/모집완료 -->
            <ul th:if="${nowType == 'parties'}" class="nav nav-tabs">
                <li class="nav-item">
                    <a th:if="${currentSearchWord} != null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                    th:href="@{/community/boards/parties(state='all', search=${currentSearchWord}, tags=${currentSearchTag})}">전체</a>
                    <a th:if="${currentSearchWord} == null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                    th:href="@{/community/boards/parties(state='all', tags=${currentSearchTag})}">전체</a>
                </li>
                <li class="nav-item">
                    <a th:if="${currentSearchWord} != null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                       th:href="@{/community/boards/parties(state='recruiting', search=${currentSearchWord}, tags=${currentSearchTag})}">모집중</a>
                    <a th:if="${currentSearchWord} == null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                       th:href="@{/community/boards/parties(state='recruiting', tags=${currentSearchTag})}">모집중</a>
                </li>
                <li class="nav-item">
                    <a th:if="${currentSearchWord} != null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                       th:href="@{/community/boards/parties(state='done', search=${currentSearchWord}, tags=${currentSearchTag})}">모집완료</a>
                    <a th:if="${currentSearchWord} == null" class="nav-link active" aria-current="page" href="#" style="font-size: 20px"
                       th:href="@{/community/boards/parties(state='done', tags=${currentSearchTag})}">모집완료</a>
                </li>
            </ul>

            <!-- 검색 -->
            <form th:if="${nowType == 'parties'}" class="search-input-box" th:method="get" th:action="@{/community/boards/parties(search=${currentSearchWord})}">
                <div class="search-input-box-sub">
                    <input class="search-words" name="search" th:value="${currentSearchWord}" th:placeholder="${currentSearchWord}">
                    <button type="submit" class="btn btn-success search-btn" style="background: #FB7A51; border: none">검색</button>
                </div>
                <div class="search-input-tag-box-sub">
                    <input type="text" class="search-tags" id="search-form-tags-party" name="tags" placeholder="태그로 검색해보세요"
                    th:value="${currentSearchTag}">
<!--                    <button type="button" class="btn btn-light reset-btn" th:onclick="">초기화</button>-->
                </div>
            </form>

            <form th:if="${nowType == 'chats'}" class="search-input-box" th:method="get" th:action="@{/community/boards/chats(search=${currentSearchWord})}">
                <div class="search-input-box-sub">
                    <input class="search-words" name="search" th:value="${currentSearchWord}" th:placeholder="${currentSearchWord}">
                    <button type="submit" class="btn btn-success search-btn" style="background: #FB7A51; border: none">검색</button>
                </div>
                <div class="search-input-tag-box-sub">
                    <input type="text" class="search-tags" id="search-form-tags-chat" name="tags" placeholder="태그로 검색해보세요"
                           th:value="${currentSearchTag}">
<!--                    <button type="button" class="btn btn-light reset-btn" th:onclick="">초기화</button>-->
                </div>
            </form>


            <!-- 기준별 정렬: 최신순/댓글순/북마크순 -->
            <div class="sort-and-write-box">
                <ul th:if="${nowType == 'parties'}" class="nav">
                    <li  class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link active" aria-current="page" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, search=${currentSearchWord}, tags=${currentSearchTag})}">최신순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link active" aria-current="page" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, tags=${currentSearchTag})}">최신순</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, search=${currentSearchWord}, order='comment', tags=${currentSearchTag})}">댓글많은순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, order='comment', tags=${currentSearchTag})}">댓글많은순</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, search=${currentSearchWord}, order='bookmark', tags=${currentSearchTag})}">북마크순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/parties(state=${nowState}, order='bookmark', tags=${currentSearchTag})}">북마크순</a>
                    </li>
                </ul>


                <ul th:if="${nowType == 'chats'}" class="nav">
                    <li class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link active" aria-current="page" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(search=${currentSearchWord}, tags=${currentSearchTag})}">최신순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link active" aria-current="page" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(tags=${currentSearchTag})}">최신순</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(search=${currentSearchWord}, order='comment', tags=${currentSearchTag})}">댓글많은순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(order='comment', tags=${currentSearchTag})}">댓글많은순</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${currentSearchWord} != null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(search=${currentSearchWord}, order='bookmark', tags=${currentSearchTag})}">북마크순</a>
                        <a th:if="${currentSearchWord} == null"
                           class="nav-link" href="#" style="font-size: 18px; color: #696969"
                           th:href="@{/community/boards/chats(order='bookmark', tags=${currentSearchTag})}">북마크순</a>
                    </li>
                </ul>

                <a class="btn btn-primary write-btn" href="#" role="button"
                   th:if="${nowType == 'parties'}"
                   style="background: #696969"
                   th:href="@{/community/post/new(type=party)}">글쓰기</a>

                <a class="btn btn-primary write-btn" href="#" role="button"
                   th:if="${nowType == 'chats'}"
                   style="background: #696969"
                   th:href="@{/community/post/new(type=chat)}">글쓰기</a>
            </div>


            <!--     게시글 카드       -->
            <div class="board-cards-box">
                <div th:if="${nowType == 'parties'}" th:each="post : ${posts}" class="card w-75 mb-3" style="min-width:100%; max-height:170px;">
                    <div class="card-body" style="width:100%;" th:onclick="|location.href='@{/community/boards/parties/{communityId}(communityId=${post.id})}'|">
                       <div style="width:100%; height:40px; display: flex; flex-direction: row">
                            <div style="width:120px; height:100%;">
                                <button th:if="${post.state} == 'RECRUITING'" class="feature-row board-state-btn btn btn-success" disabled
                                        style="width:100px; height:100%; font-size: 16px; font-weight: bolder">모집중</button>
                                <button th:if="${post.state} == 'DONE'" class="feature-row board-state-btn btn btn-secondary" disabled
                                        style="width:100px; height:100%; font-size: 16px; font-weight: bolder">모집완료</button>
                            </div>
                           <div style="width:850px; height:100%; display: flex; flex-direction:row; align-items: flex-end">
                                <h5 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;"
                                    th:text="${post.title}">Card title</h5>
                           </div>
                       </div>

                        <div class="card-tags">
                            <ul class="sub-body-tags">
                                <li class="sub-body-tag" th:each="tag : ${post.tags}" th:text="${tag}">태그</li>
                            </ul>
                        </div>

                        <div class="card-bottom">
                            <div class="card-text card-bottom-sub">
                                <small th:if="${post.nickname != 'INVALID'}" th:text="${post.nickname}">nickname</small>
                                <small th:if="${post.nickname == 'INVALID'}">탈퇴한 회원</small>
                                <small> • </small>
                                <small th:text="${post.createdAt}">date</small>
                            </div>
                            <div class="card-text card-bottom-sub">
                                <small>북마크 <span th:text="${post.bookmarkCount}">0</span></small>
                                <small>조회 <span th:text="${post.viewCount}">0</span></small>
                                <small>댓글 <span th:text="${post.commentCount}">0</span></small>
                            </div>
                        </div>

                    </div>
                </div>


                <div th:if="${nowType == 'chats'}" th:each="post : ${posts}" class="card w-75 mb-3" style="min-width:100%; max-height:170px;">
                    <div class="card-body" style="width:100%;" th:onclick="|location.href='@{/community/boards/chats/{communityId}(communityId=${post.id})}'|">
                        <h5 class="card-title" style="font-weight: bold;" th:text="${post.title}">Card title</h5>

                        <div class="card-tags">
                            <ul class="sub-body-tags">
                                <li class="sub-body-tag" th:each="tag : ${post.tags}" th:text="${tag}">태그</li>
                            </ul>
                        </div>

                        <div class="card-bottom">
                            <div class="card-text card-bottom-sub">
                                <small th:if="${post.nickname != 'INVALID'}" th:text="${post.nickname}">nickname</small>
                                <small th:if="${post.nickname == 'INVALID'}">탈퇴한 회원</small>
                                <small> • </small>
                                <small th:text="${post.createdAt}">date</small>
                            </div>
                            <div class="card-text card-bottom-sub">
                                <small>북마크 <span th:text="${post.bookmarkCount}">0</span></small>
                                <small>조회 <span th:text="${post.viewCount}">0</span></small>
                                <small>댓글 <span th:text="${post.commentCount}">0</span></small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 페이지 네비게이션 블록 -->
            <div class="board-paging" th:if="${endPage > 1}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" th:if="${nowType == 'parties'}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/community/boards/parties(page='0', state=${nowState}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${nowPage > 0}"><a class="page-link" th:href="@{/community/boards/parties(page=${nowPage}-1, state=${nowState}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage - 1}">0</a></li>
                        <li class="page-item"}><a class="page-link" th:href="@{/community/boards/parties(page=${nowPage}, state=${nowState}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage}">2</a>
                        <li class="page-item" th:if="${nowPage < endPage - 1}"><a class="page-link" th:href="@{/community/boards/parties(page=${nowPage}+1, state=${nowState}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage + 1}">3</a></li>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/community/boards/parties(page=${endPage}-1, state=${nowState}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>


                    <ul class="pagination" th:if="${nowType == 'chats'}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/community/boards/chats(page='0', order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${nowPage > 0}"><a class="page-link" th:href="@{/community/boards/chats(page=${nowPage}-1, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage - 1}">0</a></li>
                        <li class="page-item"><a class="page-link" th:href="@{/community/boards/chats(page=${nowPage}, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage}">2</a>
                        <li class="page-item" th:if="${nowPage < endPage - 1}"><a class="page-link" th:href="@{/community/boards/chats(page=${nowPage}+1, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" th:text="${nowPage + 1}">3</a></li>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/community/boards/chats(page=${endPage}-1, order=${order}, search=${currentSearchWord}, tags=${currentSearchTag})}" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </div>

    <!-- tagify -->
    <script>
        var input;
        if(document.querySelector('#search-form-tags-party')) {
            input = document.querySelector('#search-form-tags-party')
        } else {
            input = document.querySelector('#search-form-tags-chat')
        }
        var tagify = new Tagify(input, {
            dropdown: { // dropdown 속성 -> 드롭다운 비활성화
                enabled: 0
            },
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
            texts: {
                duplicate: "Duplicates are not allowed"
            },
        })
    </script>

</th>


</html>