<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<head>
    <title>여행</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-content-box">
        <!-- 헤더: 제목, 작성자(닉네임), 작성/수정날짜, 조회수   -->
        <div class="board-post-info">
            <div class="board-header">
                <h1 th:text="${post.getTitle()}"></h1>
            </div>
            <div class="board-sub-header">
                <div class="board-sub-title">
                    <h6 class="sub-title-box user-name">
                        <a href="#">닉네임</a>
                    </h6>
                    <div class="sub-title-box content-date">
                        <span class="sub-title sub-title-created-at">
                            <span class="sub-title-title">작성일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.getCreatedAt(), 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-updated-at">
                            <span class="sub-title-title">수정일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.getUpdatedAt(), 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-view-count">
                            <span class="sub-title-title">조회수</span>
                            <span class="sub-title-value" th:text="${post.getViewCount()}">00</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="board-post-content">
            <!--   글 내용   -->
            <div class="board-content-body" id="viewer" th:utext="${post.getContent()}"> viewer </div>

            <div class="board-content-sub-body">
                <ul class="sub-body-tags">
                    <li class="sub-body-tag">태그1</li>
                    <li class="sub-body-tag">태그2</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그1</li>
                    <li class="sub-body-tag">태그2</li>
                    <li class="sub-body-tag">xormxormxorm</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                </ul>
            </div>

            <!--    버튼    -->
            <div class="board-post-features">
                <div th:if="${post.getType().name()} == 'PARTY'" class="board-post-feature board-state">
                    <button th:if="${post.getJoining().name()} == 'FINDING'" class="feature-row board-state-btn"
                            th:onclick="'testJoin(' + ${post.id} + ')'">모집중</button>
                    <button th:if="${post.getJoining().name()} == 'DONE'" class="feature-row board-state-btn"
                            th:onclick="'testJoin(' + ${post.id} + ')'">모집완료</button>
                </div>
                <div class="board-post-feature board-liked">
                    <button class="feature-row board-liked-btn">추천</button>
                </div>
                <div class="board-post-feature board-share">
                    <button class="feature-row board-share-btn"
                    th:onclick="openSnsModal()">공유</button>
                </div>
                <div class="board-post-feature board-modify">
                    <button class="feature-row board-modify-btn"
                    th:onclick="|location.href='@{/board/detail/{boardId}/modify(boardId=${post.id})}'|">수정</button>
                </div>
                <div class="board-post-feature board-back-to-list">
                    <button class="feature-row board-share-btn"
                    th:onclick="|location.href='@{/board/list/0}'|">목록</button>
                </div>
            </div>

        </div>

    </div>

    <!--  댓글  -->
    <div class="comments-box">
        COMMENT
    </div>


    <div class="modal-sns-share-box hidden-modal" id="modal-sns-share-box">
        <div class="modal-sns-header">
            <h2 class="modal-sns-title">글 공유하기</h2>
        </div>
        <div class="modal-sns-btns-box">
            <button class="modal-sns-share-btn kakao-share-btn">카카오 공유</button>
            <button class="modal-sns-share-btn close-share-btn" th:onclick="openSnsModal()">닫기</button>
        </div>
    </div>


    <script>
        function testJoin(boardId) {
            let xhr = new XMLHttpRequest();
            xhr.open('PUT', '/board/detail/' + boardId + '/modifyJoining', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) { //  XMLHttpRequest 객체가 통신을 완료하여 응답이 완전히 수신되었을 때
                    window.location.href = '/board/detail/' + boardId;
                }
            };
            xhr.send();
        }

        function openSnsModal() {
            let selectedModal = document.querySelector('#modal-sns-share-box');
            if (selectedModal.classList.contains("hidden-modal")) {
                selectedModal.classList.remove("hidden-modal");
                selectedModal.classList.add("show-modal");
            } else {
                selectedModal.classList.remove("show-modal");
                selectedModal.classList.add("hidden-modal");
            }
        }
    </script>
</th>
</html>