<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js"
            integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        Kakao.init([[${kakaoApiKey}]]); // 사용하려는 앱의 JavaScript 키 입력

        // 카카오톡 공유 텍스트 설정 - 글 제목
        let nowPostTitleForShare = [[${post.title}]];
    </script>
    <title>여행</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-content-box">
        <!-- 헤더: 제목, 작성자(닉네임), 작성/수정날짜, 조회수   -->
        <div class="board-post-info">
            <div class="board-header">
                <h1 th:text="${post.getTitle()}" id="board-post-title"></h1>
            </div>
            <div class="board-sub-header">
                <div class="board-sub-title">
                    <h6 class="sub-title-box user-name">
                        <a href="#">닉네임</a>
                    </h6>
                    <div class="sub-title-box content-date">
                        <span class="sub-title sub-title-created-at">
                            <span class="sub-title-title">작성일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.getCreatedAt(), 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-updated-at">
                            <span class="sub-title-title">수정일</span>
                            <span class="sub-title-value" th:text="${#temporals.format(post.getUpdatedAt(), 'yy.MM.dd HH:mm')}">24.01.08 16:30</span>
                        </span>
                        <span class="sub-title sub-title-view-count">
                            <span class="sub-title-title">조회수</span>
                            <span class="sub-title-value" th:text="${post.getViewCount()}">00</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="board-post-content">
            <!--   글 내용   -->
            <div class="board-content-body" id="viewer" th:utext="${post.getContent()}"> viewer </div>

            <div class="board-content-sub-body">
                <ul class="sub-body-tags">
                    <li class="sub-body-tag">태그1</li>
                    <li class="sub-body-tag">태그2</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그1</li>
                    <li class="sub-body-tag">태그2</li>
                    <li class="sub-body-tag">xormxormxorm</li>
                    <li class="sub-body-tag">태그3</li>
                    <li class="sub-body-tag">태그3</li>
                </ul>
            </div>

            <!--    버튼    -->
            <div class="board-post-features">
                <div th:if="${post.getType().name()} == 'PARTY'" class="board-post-feature board-state">
                    <button th:if="${post.getJoining().name()} == 'FINDING'" class="feature-row board-state-btn"
                            th:onclick="'changeJoinState(' + ${post.id} + ')'">모집중</button>
                    <button th:if="${post.getJoining().name()} == 'DONE'" class="feature-row board-state-btn"
                            th:onclick="'changeJoinState(' + ${post.id} + ')'">모집완료</button>
                </div>
                <div class="board-post-feature board-liked">
                    <button class="feature-row board-liked-btn">추천</button>
                </div>
                <div class="board-post-feature board-share">
                    <button class="feature-row board-share-btn"
                    th:onclick="openSnsModal()">공유</button>
                </div>
                <div class="board-post-feature board-modify">
                    <button class="feature-row board-modify-btn"
                    th:onclick="|location.href='@{/board/detail/{boardId}/modify(boardId=${post.id})}'|">수정</button>
                </div>
                <div class="board-post-feature board-back-to-list">
                    <button class="feature-row board-share-btn"
                    th:onclick="|location.href='@{/board/list/0}'|">목록</button>
                </div>
            </div>

        </div>

    </div>

    <!--  댓글  -->
    <div class="comments-box">
        COMMENT
    </div>


    <div class="modal-sns-share-box hidden-modal" id="modal-sns-share-box">
        <div class="modal-sns-header">
            <h4 class="modal-sns-title">글 공유하기</h4>
            <button class="modal-sns-share-btn close-share-btn" th:onclick="openSnsModal()">X</button>
        </div>
        <div class="modal-sns-btns-box">
            <div class="modal-sns-share-btn-kakao kakao-share-btn">
                <a id="kakaotalk-sharing-btn" href="javascript:;">
                    <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                         alt="카카오톡 공유 보내기 버튼" />
                </a>
            </div>

            <div class="modal-sns-share-btn etc-btns">
                <button class="etc-btn facebook-share-button" th:onclick="shareFacebook()">
                    페이스북으로 공유
                </button>
                <button class="etc-btn twitter-share-button" th:onclick="shareTwitter()">
                    트위터로 공유
                </button>
                <button class="etc-btn copy-share-button" th:onclick="shareCopiedLink()">
                    링크 복사
                </button>
            </div>
        </div>
    </div>


    <script>
        function changeJoinState(boardId) {
            let xhr = new XMLHttpRequest();
            xhr.open('PUT', '/board/detail/' + boardId + '/modifyJoining', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) { //  XMLHttpRequest 객체가 통신을 완료하여 응답이 완전히 수신되었을 때
                    window.location.href = '/board/detail/' + boardId;
                }
            };
            xhr.send();
        }

        function openSnsModal() {
            let selectedModal = document.querySelector('#modal-sns-share-box');
            if (selectedModal.classList.contains("hidden-modal")) {
                selectedModal.classList.remove("hidden-modal");
                selectedModal.classList.add("show-modal");
            } else {
                selectedModal.classList.remove("show-modal");
                selectedModal.classList.add("hidden-modal");
            }
        }


        // 카카오공유 버튼
        Kakao.Share.createDefaultButton({
            container: '#kakaotalk-sharing-btn',
            objectType: 'text',
            text:
                nowPostTitleForShare,
            link: {
                // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
                mobileWebUrl: document.URL,
                webUrl: document.URL
            },
        });
        function shareTwitter() {
            const twitterIntent = 'https://twitter.com/intent/tweet?url=' + document.URL;
            window.open(twitterIntent, '_blank');
        }
        function shareFacebook() {
            const facebookIntent = 'http://www.facebook.com/sharer/sharer.php?u=' + document.URL;
            window.open(facebookIntent, '_blank');
        }
        // 링크 복사
        function shareCopiedLink() {
            const url = window.location.href; // 현재 URL

            const copiedLink = async () => { // 비동기 함수: URL을 클립보드에 쓰기 위해 기다리는 Promise를 반환
                await navigator.clipboard.writeText(url);
            };

            copiedLink().then(() => { // Promise 성공적인 반환 후 실행
                alert("링크 복사 완료");
            }).catch((error) => {
                console.error('복사 실패:', error);
            });
        }

    </script>
</th>
</html>