<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/board/boardForm.css}">
<link th:href="@{/css/bootstrap.min.css}"
      href="../css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/js/bootstrap.js}"
      href="../js/bootstrap.js" rel="js">

<head>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <title>커뮤니티 작성폼</title>
</head>

    <div class="board-write-form-whole-box">
        <form>

            <div class="board-write-form-top">
                <div>
                    <ul class="nav nav-tabs" style="margin-bottom: 25px">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="font-size:22px">커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-size:22px">동행모집</a>
                        </li>
                    </ul>
                </div>
                <div class="board-form-input-box">
                    <input class="board-title" name="title" placeholder="제목을 입력하세요">
                    <input class="board-tags" name="tags" placeholder="태그를 입력하세요">
                </div>
            </div>

            <!-- TUI Container -->
            <div id="content"></div>

            <div class="board-write-form-bottom">
                <button type="button" class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius: 10px"
                        th:onclick="history.back()">취소</button>
                <button type="button" class="btn btn-primary" style="width:150px; height:50px; border-radius: 10px"
                >등록</button>
            </div>

        </form>
    </div>


    <!-- TUI 에디터 JS CDN -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#content'),
            height: '750px',
            initialEditType: 'wysiwyg',
            initialValue: '',
            previewStyle: 'tab',
            placeholder: '내용을 입력해 주세요',
        });
    </script>




</html>
