<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment" class="header-box">
        <ul class="nav justify-content-end" style="margin-right:2%">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">알림</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">마이페이지</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">로그아웃</a>
            </li>
        </ul>

        <ul class="category-header">
            <li><img th:src="@{/img/logo.png}" alt="logo" id="header-logo"
            th:onclick="|location.href='@{/}'|"/></li>
            <li><a th:href="@{/trip/list/0}"
                   style="text-decoration-line: none; color:#696969;">여행</a></li>
            <li><a th:href="@{/templates/community/party/list/createdAt/0}"
                   style="text-decoration-line: none; color:#696969;">커뮤니티</a></li>
        </ul>
    </div>
</html>
