<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="headerFragment" class="header-box" style="height:120px">

        <ul class="user-header"
            style="width:40%; height:70px; display: flex; gap: 20px">

            <li style="width:80px" sec:authorize="isAuthenticated()">
                <a  href="#"
                   id="authenticated-id"
                   style="width:100px; font-size: 16px; text-decoration-line: none; color: #696969; margin-left:auto"
                   th:text="${#authentication.name}">로그인한 아이디</a>
            </li>

            <!-- 팝오버 -->
            <li style="width:80px" sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-lg btn-danger" id="notification-pop-over" data-bs-toggle="popover"
                        data-bs-placement="bottom"
                        data-bs-title="알림"
                        data-bs-content="And here's some amazing content. It's very engaging. Right?">
                    알림</button>
            </li>

            <li sec:authorize="isAuthenticated()" style="width:100px">
                <a th:href="@{/profile}"
                   style="width:150px; font-size: 16px; text-decoration-line: none; color: #696969; margin-left:auto"
                >마이페이지</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/user/logout}" th:method="post" style="width:140px;">
                    <button style="width:140px; font-size: 16px; background: none; border: none; color:#696969"  type="submit">로그아웃</button>
                </form>
            </li>

            <li sec:authorize="!isAuthenticated()" style="width:80px; margin-left:auto">
                <a href="#" style="font-size: 16px; text-decoration-line: none; color: #696969; margin-left:auto"
                   th:href="@{/user/login}">로그인</a>
            </li>
        </ul>





        <ul class="category-header">
            <li><img th:src="@{/img/logo.png}" alt="logo" id="header-logo" th:onclick="|location.href='@{/}'|"/></li>
            <li><a th:href="@{/trip/lists}" style="text-decoration-line: none; color:#696969;">여행</a></li>
            <li><a th:href="@{/community/boards/parties(state='all')}" style="text-decoration-line: none; color:#696969;">커뮤니티</a></li>
        </ul>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="application/javascript">


        /*
        * 로그인 여부 확인 후 알림 연결 요청
        * */
        document.addEventListener('DOMContentLoaded', function() {
            var isAuthenticated = document.getElementById('authenticated-id');

            if (isAuthenticated) {
                console.log('로그인된 유저');

                const eventSource = new EventSource('/notifications/connect');
                eventSource.addEventListener('notification', function(event) {
                    let msg = event.data;
                    console.log(msg);

                    // 새 댓글이 달렸을 경우 실시간 알림 alert 표시
                    if(msg !== 'Connected') {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'info',
                            title: '',
                            text: msg,
                            showConfirmButton: false,
                            timer: 1500
                        });

                        // 팝오버
                        var notificationPopover = document.getElementById('notification-pop-over');
                        console.log('popover: ', notificationPopover);

                        // 팝오버의 data-bs-content 변경
                        notificationPopover.setAttribute('data-bs-content', msg);

                        // 팝오버 재초기화 (뷰의 팝오버 내용 변경 위함)
                        var popover = new bootstrap.Popover(notificationPopover);
                    }

                })

            } else {
                console.log('로그인하지 않은 유저');
            }

        });

        /*
        * 팝오버 초기화
        * */
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        });


    </script>

    </div>


</html>
