<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/community/communityList.css}">
    <link rel="stylesheet" th:href="@{/css/community/communityDetail.css}">
    <link rel="stylesheet" th:href="@{/css/user/signInForm.css}"/>
    <link rel="stylesheet" th:href="@{/css/user/profile.css}"/>

    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/js/bootstrap.js}"
          href="../js/bootstrap.js" rel="js">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>test</title>
    </head>

    <body>
        <div class="whole-body">
            <div class="header-body">
                <div th:replace="~{fragments/header :: headerFragment}"></div>
            </div>

            <div class="content-body">
                <div layout:fragment="content"></div>
            </div>

            <div class="footer-body">
                <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
            </div>
        </div>
    </body>

</html>