<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/community/communityList.css}">
    <link rel="stylesheet" th:href="@{/css/community/communityDetail.css}">
    <link rel="stylesheet" th:href="@{/css/user/signInForm.css}"/>
    <link rel="stylesheet" th:href="@{/css/user/profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/trip/tripList.css}"/>
    <link rel="stylesheet" th:href="@{/css/trip/tripDetail.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <head>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/sweetAlert.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/5c78b43849.js" crossorigin="anonymous"></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>test</title>
    </head>

    <body>
        <div class="whole-body">
            <div class="header-body">
                <div th:replace="~{fragments/header :: headerFragment}"></div>
            </div>

            <div class="content-body">
                <div layout:fragment="content"></div>
            </div>

            <div class="footer-body">
                <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
            </div>
        </div>
    </body>

</html>