<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>404 ERROR | 제주도랑</title>
</head>
<th layout:fragment="content">


    <div style="width: 100%; height:700px; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div style="width:150px; height:150px; display: flex; justify-content: center; align-items: center; font-size:100px">
            &#128580;
        </div>
        <div style="width:100%; height:70px; display: flex; justify-content: center; align-items: flex-end; font-size:40px; font-family: 'GmarketSansMedium'; color:#696969"
            th:text="${message}"></div>
    </div>


</th>
</html>