@charset "UTF-8";

/*

COLOR
#FB7A51 orange
#3CB728 green
#3F3D3A main
#D9D9D9 sub1
#696969 sub2
#E74747 warn

*/

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 김정철 고딕 */
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 10;
    font-style: normal;
}
/* 김정철 명조 */
@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 10;
    font-style: normal;
}
/* gmarket */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.whole-body{
    margin:0 auto;
    padding:0;
    width: 1280px;
    font-weight:normal;
    font-family: 'Pretendard-Regular';
}

.content-body{
    margin: 2% 0;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    text-decoration-line: none;
}

li{
    list-style: none;
}