
.header-box{
    width:1280px;
    height:90px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.user-header {
    height:30px;
    width:300px;
    display:flex;
    margin-left:auto;
    margin-right:30px;
    justify-content:space-around;
}
.user-header > li {
    float:left;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    color: #696969;
}
.user-header > li:hover {
    cursor: pointer;
}



.category-header{
    height:50px;
    width:600px;
    margin-top:auto;
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
}
.category-header > li {
    float:left;
    width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:17px;
}
.category-header > li:hover {
    cursor: pointer;
}
#header-logo {
    margin-bottom: -8px;
}
