<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <div th:fragment="mypageTabFragment" class="board-item board-tab" style="width: 300px; gap: 10%;">
        <ul class="nav flex-column" style="gap:5px">
            <li class="nav-item" id="mypage-tab-profile" style="font-size: 20px; border-left: 3px solid white">
                <a class="nav-link" aria-current="page" href="#" style="color: #696969;"
                   th:href="@{/profile}">프로필</a>
            </li>
            <li class="nav-item" id="mypage-tab-pwd" style="font-size: 20px; border-left: 3px solid white">
                <a class="nav-link" href="#" style="color: #696969;"
                   th:href="@{/profile/pwd}">비밀번호 변경</a>
            </li>
            <li class="nav-item" id="mypage-tab-writings" style="font-size: 20px; border-left: 3px solid white">
                <a class="nav-link" href="#" style="color: #696969;"
                   th:href="@{/mypage/writings}">작성글 목록</a>
            </li>
            <li class="nav-item" id="mypage-tab-bookmarks" style="font-size: 20px; border-left: 3px solid white">
                <a class="nav-link" href="#" style="color: #696969;"
                   th:href="@{/mypage/bookmarks}">북마크 목록</a>
            </li>
            <li class="nav-item" id="mypage-tab-admin" style="font-size: 20px; border-left: 3px solid white"
                th:if="${#authorization.getAuthentication().authorities[0].authority.contains('ADMIN')}">
                <a class="nav-link" href="#" style="color: #696969;"
                   th:href="@{/admin/features}">관리자 페이지</a>
            </li>
        </ul>
    </div>

</html>