<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="fragments/layoutForHome">

<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <title>홈 | 제주도랑</title>
</head>
<div layout:fragment="content"
     style="display:flex; flex-direction: column; width:100%; height:1000px; background: black; justify-content:space-around; overflow: hidden">

        <img th:src="@{/img/home/home_background.jpg}" alt="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/%ED%99%94%EC%B0%BD%ED%95%9C-%EB%82%A0%EC%97%90-%EC%95%BC%EC%9E%90%EC%88%98-%EA%B7%B8%EB%A3%B9-gQkC_u9ZGoE"
            style="width:100%; height:100%; opacity: 0.7">


</div>

</html>