<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>여행</title>
</head>
<th layout:fragment="content">

    <div style="width: 100%; display: flex; flex-direction:column; gap: 5%;">

        <!-- 검색 -->
        <div style="width:100%; display: flex; justify-content: flex-end; margin-bottom:1%">
            <form th:method="get" action="/trip/lists" style="width: 400px">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" th:placeholder="${searchWord}" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-warning" type="submit" id="button-addon2">태그 검색</button>
                </div>
            </form>
        </div>

        <!-- 여행 목록 블록 -->
        <div style="width:100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between" >
            <div th:each="trip: ${trips}" class="card mb-3" style="width: 630px; height: 150px; cursor: pointer" th:onclick="|location.href='@{/trip/places/{placeId}(placeId=${trip.id})}'|">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." th:src="${trip.getThumbnail()}" class="img-fluid rounded-start" alt="..." style="height:150px; width:210px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${trip.getName()}">관광지 이름</h5>
                            <p class="card-text"><small class="text-body-secondary" th:text="${trip.getTags()}"
                            style="white-space: normal;
                            display: -webkit-box; -webkit-line-clamp:4; -webkit-box-orient: vertical; overflow: hidden">태그</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 페이지 네비게이션 블록 -->
        <div style="width:100%; display: flex; justify-content: center; margin-top: 4%">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/trip/lists(search=${searchWord})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${nowPage > 0}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage - 1}" th:href="@{/trip/lists(nowPage=${nowPage - 1}, search=${searchWord})}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage}" th:href="@{/trip/lists(nowPage=${nowPage},search=${searchWord})}">2</a>
                    </li>
                    <li th:if="${nowPage < endPage - 1}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage + 1}" th:href="@{/trip/lists(nowPage=${nowPage + 1},search=${searchWord})}">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/trip/lists(nowPage=${endPage - 1},search=${searchWord})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>

</th>
</html>