<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>여행 상세</title>
</head>
<th layout:fragment="content">

    <div class="card text-bg-dark">
        <img src="..." th:src="${trip.getImage()}" class="card-img" alt="...">
        <div class="card-img-overlay"
             style="width:35%; background:rgba(20,34,35,0.59); color:white; margin-left:auto;
             display:flex; flex-direction:column; align-content:center; justify-content:center; gap: 2%">

            <div style="width:100%; height:10%; padding:5%; display:flex; justify-content: flex-end; align-content: flex-end">
                <i sec:authorize="!isAuthenticated()" onclick="cantBookmark()" class="fa-regular fa-heart" style="font-size: 45px; color:#FB7A51; cursor: pointer"></i>
                <i sec:authorize="isAuthenticated()" th:if="${!trip.isBookmarked()}" th:onclick="'createBookmark('+${trip.id}+')'" class="fa-regular fa-heart"
                   style="font-size: 45px; color:#FB7A51; cursor: pointer"></i>
                <i sec:authorize="isAuthenticated()" th:if="${trip.isBookmarked()}" th:onclick="'deleteBookmark('+${trip.id}+')'" class="fa-solid fa-heart"
                   style="font-size: 45px; color:#FB7A51; cursor: pointer"></i>
            </div>

            <div style="width:100%; height:80%; padding:4%; background: rgba(175,175,175,0.35)">
                <h5 class="card-text" th:text="${trip.getCategory()}" style="color:#FB7A51">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h5>
                <h1 class="card-title" th:text="${trip.getName()}">Card title</h1>
                <p class="card-text" th:text="${trip.getIntroduction()}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <br>
                <p class="card-text" th:text="${trip.getAddress()}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text" th:text="${trip.getTel()}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <br><br>
                <h5 class="card-text" th:text="${trip.getTags()}"></h5>
            </div>
        </div>
    </div>

    <script>

        /*
        * 북마크
        *
        * */

        // 로그인 하지 않은 경우
        function cantBookmark() {
            alert("북마크하려면 로그인이 필요합니다.");
        }
        // 로그인한 경우 - 북마크 하지 않은 글
        function createBookmark(communityId) {
            alert('create');

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/bookmarks/trips/' + communityId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert(xhr.responseText);
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
        // 로그인한 경우 - 북마크 한 글
        function deleteBookmark(communityId) {
            alert('delete');

            let xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/bookmarks/trips/' + communityId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert(xhr.responseText);
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
    </script>

</th>
</html>
