<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>여행 상세 페이지 - 여행 | 제주도랑</title>
</head>
<th layout:fragment="content">

    <div class="card text-bg-dark" style="width:100%; height:100%; border: none">
        <img src="..." th:src="${trip.getImage()}" class="card-img" alt="...">
        <div class="card-img-overlay trip-detail-img-overlay">

            <!-- 북마크: 로그인/비로그인 구분 -->
            <div class="trip-detail-bookmark-block">
                <i sec:authorize="!isAuthenticated()" onclick="cantBookmark()" class="fa-regular fa-heart"></i>
                <i sec:authorize="isAuthenticated()" th:if="${!trip.isBookmarked()}" th:onclick="'createBookmark('+${trip.id}+')'" class="fa-regular fa-heart"></i>
                <i sec:authorize="isAuthenticated()" th:if="${trip.isBookmarked()}" th:onclick="'deleteBookmark('+${trip.id}+')'" class="fa-solid fa-heart"></i>
            </div>

            <div class="trip-detail-intro-block">
                <div class="trip-detail-top">
                    <h4 class="card-text trip-region">
                        <i class="fa-solid fa-location-dot"></i><span th:text="${trip.getRegion()}">지역</span>
                        : <span class="trip-detail-category" th:text="${trip.getCategory()}">카테고리</span>
                    </h4>
                </div>
                    <h1 class="card-title" th:text="${trip.getName()}">관광지 이름</h1>
                    <p class="card-text" th:text="${trip.getIntroduction()}">소개</p>
                    <p class="card-text" th:text="${trip.getAddress()}">주소</p>
                    <p class="card-text" th:text="${trip.getTel()}">연락처</p>
                    <p class="card-text" th:text="${trip.getTags()}">태그</p>
            </div>
        </div>
    </div>

    <script>

        /*
        * 북마크
        *
        * */

        // 로그인 하지 않은 경우
        function cantBookmark() {
            Swal.fire({
                position: 'middle',
                icon: 'warning',
                title: '',
                text: "북마크하려면 로그인이 필요합니다.",
                showConfirmButton: true
            });
        }
        // 로그인한 경우 - 북마크 하지 않은 글
        function createBookmark(tripId) {
            var url = '/bookmarks?type=trip&id=' + tripId;

            let xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
        // 로그인한 경우 - 북마크 한 글
        function deleteBookmark(tripId) {
            var url = '/bookmarks?type=trip&id=' + tripId;

            let xhr = new XMLHttpRequest();
            xhr.open('DELETE', url, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        window.location.reload();

                    } else { // 그 외의 경우
                        alert(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }
    </script>

</th>
</html>
