
.board-whole-content-box{
    width:93%;
}

.board-post-info{
    height: 130px;
    margin-bottom:3%;
    border-bottom: 1px solid #696969;
}
.board-header{
    width:100%;
    height:50px;
}

.board-sub-header{
    margin-top:10px;
    height:50px;
}

.sub-title-box {
    height:20px;
}

.user-name > a {
    text-decoration: none;
    color:black;
    font-weight:bolder;
}

.sub-title {
    margin-right:10px;
}
.sub-title-value {
    font-weight:bold;
}


#viewer{
    width:100%;
}
#viewer > p > img {
    max-width:100%;
}

.board-content-sub-body{
    height:50px;
    width:100%;
    margin: 1% 0;
}

.sub-body-tags{
    height:100%;
    display: flex;
    align-items: center;
}
.sub-body-tag {
    height: 30px;
    padding:5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-30px;
    margin-right:40px;
    background: #e9ecf6;
    color: #3b3b3b;
}


.board-post-features {
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*  댓글   */
.comments-box {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    background: #f8f9fa;
}

.user-profile-pic-circle {
    width:100px;
    height:50px;
    border-radius: 50%;
    background: greenyellow;
}







/* 모달 */
.modal-sns-share-box{
    width:450px;
    height:260px;
    padding:25px 30px;
    background: white;
    border:1px solid rgba(105, 105, 105, 0.51);
    border-radius: 15px;
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index:1000;
}
.hidden-modal{
    display: none;
}
.show-modal{
    display: block;
}

.modal-sns-header{
    display: flex;
}
.modal-sns-title{
    margin-right:auto;
}
.close-share-btn{
    background: none;
    border: none;
    font-size: 1.25rem;
    margin-top:-10px;
}

.modal-sns-btns-box{
    display: flex;
    height: 80%;
    gap:15%;
    justify-content: center;
    align-items: center;
}
.modal-sns-share-btn-kakao {
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3%;
}


.etc-btns{
    width:60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5%;
}

.modal-sns-share-btn-etc {
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #575757;
    border-radius: 15px;
}
.etc-btn {
    height:30px;
    width: 100%;
    border:1px solid #575757;
    background: white;
    border-radius: 15px;
    font-size:0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.etc-btn:hover{
    background: #575757;
    color:white;
    font-weight: bold;
}