<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <script th:src="@{/js/mypage/mypageTabClicked.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>북마크 목록 - 마이페이지 | 제주도랑</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-box">

        <!-- 마이페이지 좌측 탭  -->
        <div th:replace="~{fragments/mypage/mypageTab :: mypageTabFragment}"></div>

        <!-- 컨텐츠 블록  -->
        <div class="board-item board-main"
             style="width: 100%; height:100%; display: flex; flex-direction:column; justify-content: center; align-content: center; gap:3%;">

            <!-- 여행 / 커뮤니티 탭 -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" id='my-bookmark-trip' aria-current="page" style="color:#696969" th:href="@{/mypage/bookmarks}">여행</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id='my-bookmark-community' style="color:#696969" th:href="@{/mypage/bookmarks(type='community')}">커뮤니티</a>
                </li>
            </ul>

            <!-- 데이터 없을 경우  -->
            <div th:if="${endPage == 0}"
                 style="width:100%; height: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family:'GmarketSansMedium'">
                <div style="width:100%; height:150px; font-size:120px; display:flex; justify-content: center; align-items: center">&#x1FAE5;</div>
                <div style="width:100%; height:70px; font-size:30px; color: #696969; display:flex; justify-content: center; align-items: center" th:text="${message}">데이터 없음 메세지 출력</div>
            </div>

            <!--   카드 : 여행    -->
            <div th:if="${type == 'trip'}" style="margin: 4% 0">
                <div th:each="post : ${posts}">
                    <div class="card mb-3" style="width: 100%; min-height: 150px; cursor: pointer" th:onclick="|location.href='@{/trip/places/{placeId}(placeId=${post.getId()})}'|">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." th:src="${post.getThumbnail()}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div style="width:100%; display: flex; flex-direction: row; justify-content: space-between">
                                        <h5 style="width: 90%" class="card-title" th:text="${post.getName()}">Card title</h5>
                                        <a th:onclick="'deleteTripBookmark(' + ${post.id} + ')'" class="btn btn-secondary">삭제</a>
                                    </div>
                                    <p class="card-text" ><small class="text-body-secondary" th:text="${post.getTags()}">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--    카드 : 커뮤니티      -->
            <div th:if="${type == 'community'}" style="margin: 4% 0">
                <div th:each="post : ${posts}">

                    <!-- 삭제되지 않은 글의 북마크 -->
                    <div th:if="${post.type != 'DELETED'}" class="card border mb-3" style="margin: 2% 0">
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'PARTY'}">
                            모임 &#183;
                            <span th:if="${post.state == 'RECRUITING'}" style="color: #FB7A51">모집중</span>
                            <span th:if="${post.state== 'DONE'}" style="color: #696969">모집완료</span>
                        </h5>
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'CHAT'}">잡담</h5>

                        <div class="card-body text">
                            <a th:if="${post.type == 'PARTY'}" th:href="@{/community/boards/parties/{communityId}(communityId=${post.id})}"
                               style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title"  th:text="${post.title}">Special title treatment</h5>
                            </a>

                            <a th:if="${post.type == 'CHAT'}" th:href="@{/community/boards/chats/{communityId}(communityId=${post.id})}"
                               style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title" th:text="${post.title}">Special title treatment</h5>
                            </a>
                        </div>

                        <div class="card-footer bg-transparent border" style="display: flex; justify-content: space-between;">
                            <div style="width: 200px; display: flex; align-items: flex-end">
                                작성자:
                                <span th:if="${post.nickname != 'INVALID'}" th:text="${post.nickname}">닉네임</span>
                                <span th:if="${post.nickname == 'INVALID'}">탈퇴한 회원</span>
                            </div>

                            <div style="width:450px; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end">
                                <div>
                                    북마크 <span th:text="${post.bookmarkCount}">0</span> &#183;
                                    조회 <span th:text="${post.viewCount}">0</span> &#183;
                                    댓글 <span th:text="${post.commentCount}">0</span>
                                </div>
                                <span th:text="${#temporals.format(post.createdAt, 'yyyy년 MM월 dd일')}"></span>
                                <a th:onclick="'deleteCommunityBookmark(' + ${post.id} + ')'" class="btn btn-secondary">삭제</a>
                            </div>
                        </div>

                    </div>

                    <!-- 삭제된 글의 북마크 -->
                    <div th:if="${post.type == 'DELETED'}" class="card border mb-3" style="margin: 2% 0; color: #9b9b9b;">
                        <h5 class="card-header bg-transparent border">삭제된 글입니다.</h5>

                        <div class="card-body text">
                            <a href="#" style="color: #9b9b9b; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title">삭제된 글입니다.</h5>
                            </a>
                        </div>
                        <div class="card-footer bg-transparent border" style="display: flex">
                            <a th:onclick="'deleteCommunityBookmarkDeleted(' + ${post.bookmarkId}+ ')'" class="btn btn-secondary" style="margin-left:auto">삭제</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 페이지네이션 -->
            <nav aria-label="Page navigation example" th:if="${endPage > 1}">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/mypage/bookmarks(type=${type})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${nowPage > 0}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage - 1}" th:href="@{/mypage/bookmarks(page=${nowPage - 1}, type=${type})}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage}" th:href="@{/mypage/bookmarks(page=${nowPage}, type=${type})}">2</a>
                    </li>
                    <li th:if="${nowPage < endPage - 1}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage + 1}" th:href="@{/mypage/bookmarks(page=${nowPage + 1}, type=${type})}">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/mypage/bookmarks(page=${endPage - 1}, type=${type})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

        <script>
            function deleteCommunityBookmark(postId) {
                var url = '/bookmarks?type=community&id=' + postId;
                sendRequest(url);
            }

            function deleteCommunityBookmarkDeleted(bookmarkId) {
                var url = "/bookmarks/deleted?id=" + bookmarkId;
                sendRequest(url);
            }

            function deleteTripBookmark(postId) {
                var url = '/bookmarks?type=trip&id=' + postId;
                sendRequest(url);
            }

            function sendRequest(url) {
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            window.location.reload();

                        } else {
                            showAlert('error', xhr.responseText, true);
                        }
                    }
                }
                xhr.send();
            }


            /*
            * 여행/커뮤니티 탭 클릭 CSS 효과 부여
            * */
            if(window.location.href.includes('community')) {
                document.getElementById('my-bookmark-community').classList.add('active');
                document.getElementById('my-bookmark-community').style.fontWeight = 'bold';
            } else {
                document.getElementById('my-bookmark-trip').classList.add('active');
                document.getElementById('my-bookmark-trip').style.fontWeight = 'bold';
            }
        </script>

    </div>


</th>
</html>