<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>북마크 목록 - 제주도랑 | 마이페이지</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-box">

        <!-- 마이페이지 좌측 탭  -->
        <div th:replace="~{fragments/mypage/mypageTab :: mypageTabFragment}"></div>

        <!-- 컨텐츠 블록  -->
        <div class="board-item board-main"
             style="width: 100%; height:100%; display: flex; flex-direction:column; justify-content: center; align-content: center; gap:3%;">

            <!-- 여행 / 커뮤니티 탭 -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/mypage/bookmarks}">여행</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/mypage/bookmarks(type='community')}">커뮤니티</a>
                </li>
            </ul>


            <!--   카드 : 여행    -->
            <div th:if="${type == 'trip'}" style="margin: 4% 0">
                <div th:each="post : ${posts}">
                    <div class="card mb-3" style="width: 100%; min-height: 150px; cursor: pointer" th:onclick="|location.href='@{/trip/places/{placeId}(placeId=${post.getId()})}'|">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." th:src="${post.getThumbnail()}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${post.getName()}">Card title</h5>
                                    <p class="card-text" ><small class="text-body-secondary" th:text="${post.getTags()}">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--    카드 : 커뮤니티      -->
            <div th:if="${type == 'community'}" style="margin: 4% 0">
                <div th:each="post : ${posts}">
                    <div class="card border mb-3" style="margin: 2% 0">
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'PARTY'}">
                            모임 &#183;
                            <span th:if="${post.state == 'RECRUITING'}" style="color: #FB7A51">모집중</span>
                            <span th:if="${post.state== 'DONE'}" style="color: #696969">모집완료</span>
                        </h5>
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'CHAT'}">잡담</h5>

                        <div class="card-body text">
                            <a th:if="${post.type == 'PARTY'}" th:href="@{/community/boards/parties/{communityId}(communityId=${post.id})}"
                               style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title"  th:text="${post.title}">Special title treatment</h5>
                            </a>

                            <a th:if="${post.type == 'CHAT'}" th:href="@{/community/boards/chats/{communityId}(communityId=${post.id})}"
                               style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title" th:text="${post.title}">Special title treatment</h5>
                            </a>
                        </div>

                        <div class="card-footer bg-transparent border" style="display: flex; justify-content: space-between;">
                            <div style="width: 200px; display: flex; align-items: flex-end">
                                작성자:
                                <span th:if="${post.nickname != null}" th:text="${post.nickname}">닉네임</span>
                                <span th:if="${post.nickname == null}">탈퇴한 회원</span>
                            </div>

                            <div style="width:450px; display: flex; justify-content: space-around; align-items: flex-end">
                                <div>
                                    북마크 <span th:text="${post.bookmarkCount}">0</span> &#183;
                                    조회 <span th:text="${post.viewCount}">0</span> &#183;
                                    댓글 <span th:text="${post.commentCount}">0</span>
                                </div>
                                <span th:text="${#temporals.format(post.createdAt, 'yyyy년 MM월 dd일')}"></span>
                                <a href="#" class="btn btn-secondary">삭제</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- 페이지네이션 -->
            <nav aria-label="Page navigation example" th:if="${endPage > 1}">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/mypage/bookmarks(type=${type})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${nowPage > 0}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage - 1}" th:href="@{/mypage/bookmarks(page=${nowPage - 1}, type=${type})}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage}" th:href="@{/mypage/bookmarks(page=${nowPage}, type=${type})}">2</a>
                    </li>
                    <li th:if="${nowPage < endPage - 1}" class="page-item">
                        <a class="page-link" href="#" th:text="${nowPage + 1}" th:href="@{/mypage/bookmarks(page=${nowPage + 1}, type=${type})}">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" th:href="@{/mypage/bookmarks(page=${endPage - 1}, type=${type})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


    </div>


</th>
</html>