<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{/fragments/layout}">
<head>
    <script th:src="@{/js/community/deleteCommunity.js}"></script>
    <title>작성글 목록 - 마이페이지 | 제주도랑</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-box">


        <!-- 마이페이지 좌측 탭  -->
        <div th:replace="~{fragments/mypage/mypageTab :: mypageTabFragment}"></div>

        <!-- 컨텐츠 블록  -->
        <div class="board-item board-main"
             style="width: 100%; height:100%; display: flex; flex-direction:column; justify-content: center; align-content: center; gap:3%;">

            <!-- 작성글/작성댓글 탭 -->
            <div th:replace="~{fragments/mypage/mypageWritingsTab :: mypageWritingsTabFragment}"></div>

            <!-- 데이터 없을 경우  -->
            <div th:if="${endPage == 0}"
                 style="width:100%; height: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family:'GmarketSansMedium'">
                <div style="width:100%; height:150px; font-size:120px; display:flex; justify-content: center; align-items: center">&#x1FAE5;</div>
                <div style="width:100%; height:70px; font-size:30px; color: #696969; display:flex; justify-content: center; align-items: center" th:text="${message}">데이터 없음 메세지 출력</div>
            </div>

            <div style="margin: 4% 0">
                <div th:each="post : ${posts}">
                    <div class="card border mb-3" style="margin: 2% 0">
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'PARTY'}">
                            모임 &#183;
                            <span th:if="${post.state == 'RECRUITING'}" style="color: #FB7A51">모집중</span>
                            <span th:if="${post.state == 'DONE'}" style="color: #696969">모집완료</span>
                        </h5>
                        <h5 class="card-header bg-transparent border" th:if="${post.type == 'CHAT'}">잡담</h5>

                        <div class="card-body text">
                            <a th:if="${post.type == 'PARTY'}" th:href="@{/community/boards/parties/{communityId}(communityId=${post.id})}"
                                style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title"  th:text="${post.title}">Special title treatment</h5>
                            </a>

                            <a th:if="${post.type == 'CHAT'}" th:href="@{/community/boards/chats/{communityId}(communityId=${post.id})}"
                               style="color: #696969; text-decoration-line: none; font-weight: bold">
                                <h5 class="card-title" th:text="${post.title}">Special title treatment</h5>
                            </a>
                        </div>

                        <div class="card-footer bg-transparent border" style="display: flex; justify-content: space-between;">
                            <div>
                                북마크 <span th:text="${post.bookmarkCount}">0</span> &#183;
                                조회 <span th:text="${post.viewCount}">0</span> &#183;
                                댓글 <span th:text="${post.commentCount}">0</span>
                            </div>
                            <div style="width:200px; display: flex; justify-content: space-around">
                                <span th:text="${#temporals.format(post.createdAt, 'yyyy년 MM월 dd일')}"></span>
                                <button href="#" class="btn btn-secondary"
                                        sec:authorize="isAuthenticated()"
                                        th:if="${#authentication.getName() == post.writerId()}"
                                        th:onclick="deletePost([[${post.type}]], [[${post.id}]], 'myWritings')">삭제</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- 페이지네이션 -->
            <div th:if="${endPage > 1}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <li class="page-item">
                            <a class="page-link" href="#" th:href="@{/mypage/writings}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:if="${nowPage > 0}" class="page-item">
                            <a class="page-link" href="#" th:text="${nowPage - 1}" th:href="@{/mypage/writings(page=${nowPage - 1})}">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" th:text="${nowPage}" th:href="@{/mypage/writings(page=${nowPage})}">2</a>
                        </li>
                        <li th:if="${nowPage < endPage - 1}" class="page-item">
                            <a class="page-link" href="#" th:text="${nowPage + 1}" th:href="@{/mypage/writings(page=${nowPage + 1})}">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" th:href="@{/mypage/writings(page=${endPage - 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <script>
        function submitForm() {
            var form = document.getElementById('profile-modify-form-pwd');
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open('PUT', form.action, true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.reload();

                } else {
                    alert(xhr.responseText);
                }
            };
            xhr.send(formData);
        }

        /*
        * 작성글/작성댓글 탭 클릭 CSS 효과 부여
        * */
        if(window.location.href.includes('writings')) {
            document.getElementById('my-writings-link-writings').classList.add('active');
            document.getElementById('my-writings-link-writings').style.fontWeight = 'bold';
        } else {
            document.getElementById('my-writings-link-comments').classList.add('active');
            document.getElementById('my-writings-link-comments').style.fontWeight = 'bold';
        }
    </script>

</th>
</html>