<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/fragments/layout}">
<head>
    <title>비밀번호 변경 - 제주도랑 | 마이페이지</title>
</head>
<th layout:fragment="content">

    <div class="board-whole-box">


        <!-- 마이페이지 좌측 탭  -->
        <div th:replace="~{fragments/mypage/mypageTab :: mypageTabFragment}"></div>

        <!-- 컨텐츠 블록  -->
        <div class="board-item board-main"
             style="width: 70%; height:100%; display: flex; flex-direction:column; justify-content: center; align-content: center; gap:3%;
                    border: 1px solid rgba(134,134,134,0.37); border-radius: 15px;">

            <!-- 작성글/작성댓글 탭 -->
            <div th:replace="~{fragments/mypage/mypageWritingsTab :: mypageWritingsTabFragment}"></div>

            <div>
                <h1>작성글 목록</h1>

                <div th:each="post : ${post}">
                    <p th:text="${post.title}"></p>
                </div>

                <p>전체 페이지 수: <span th:text="${endPage}"></span></p>
            </div>


        </div>

    </div>


    <script>

        function submitForm() {
            var form = document.getElementById('profile-modify-form-pwd');
            var formData = new FormData(form);

            alert("submitForm()");

            var xhr = new XMLHttpRequest();
            xhr.open('PUT', form.action, true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    alert('비밀번호 변경이 완료되었습니다.');
                    window.location.reload();

                } else {
                    alert(xhr.responseText);
                }
            };
            xhr.send(formData);
        }

    </script>


</th>
</html>